.layer-one {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	z-index: -2;
}

.layer-half {
	width: 100%;
	height: 100%;
	background: #E5E7E9;
	position: absolute;
	z-index: -1;
	display: none;
}

.layer-two {
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 0;
	position: absolute;
	align-items: flex-end;
	font-family: Roboto,sans-serif;
	font-weight: 200;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.layer-two:hover + .layer-half {
	display: block;
}

.absolute-center {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.card {
    padding-top: 70px;
    width: 100%;
    height: 100%;
    background: lightblue;
    color: black;
}

p {
	font-family: Roboto,"Helvetica Neue",sans-serif;
	margin-top: 25%;
	text-align: center;
	color: black;
}
