<mat-grid-list cols=5 rowHeight="1:1.2" gutterSize="5px">
    <mat-grid-tile colspan="2" rowspan="1" routerLink="1">
        <div class="layer-one" style="background: #FAD7A0">
            <img width="30%" class="absolute-center" src="https://i.imgur.com/pbaDHTw.png">
        </div>
        <div class="layer-two">
            <span style="background: #F39C12; width: 100%; text-align: center;">Орчуулах</span>
        </div>
        <div class="layer-half">
            <p>Синсетийн үгсийг эх хэлнээс зорилтот хэл рүү орчуулах</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="2">
        <div class="layer-one" style="background: #D7BDE2">
            <img width="30%" class="absolute-center" src="https://i.imgur.com/TI1KYNm.png">
        </div>
        <div class="layer-two">
            <span style="background: #8E44AD; width: 100%; text-align: center;">Засварлах</span>
        </div>
        <div class="layer-half">
            <p>Орчуулагдсан синсетийн үгсийг засварлах</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2" style="margin: auto;">
        <mat-card class="card">
            <mat-card-title><mat-icon>equalizer</mat-icon>Миний оролцоо</mat-card-title>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-chip-list>
                    <mat-list-item><mat-icon mat-list-icon>playlist_add_check</mat-icon>Орчуулсан:&nbsp;<mat-chip selected="true">{{ performance.translation }}</mat-chip></mat-list-item>
                    <mat-list-item><mat-icon mat-list-icon>playlist_add_check</mat-icon>Засварласан:&nbsp;<mat-chip selected="true">{{ performance.modification }}</mat-chip></mat-list-item>
                    <mat-list-item><mat-icon mat-list-icon>playlist_add_check</mat-icon>Үнэлсэн:&nbsp;<mat-chip selected="true">{{ performance.validation }}</mat-chip></mat-list-item>
                </mat-chip-list>
            </mat-list>
            <br>
            <mat-divider></mat-divider>
            <br>
            <mat-card-content>
                <ul>
                    <li><mat-icon color="primary">feedback</mat-icon>&nbsp; Фийдбэйк явуулах</li>
                
                    <li><mat-icon color="primary">notifications_active</mat-icon> Фронт-Энд загварыг <a href="https://translate.google.com/community">Google Translate Community</a> - н загвараас санаа авч зохиомжлов!</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="3">
        <div class="layer-one" style="background: #F1948A">
            <img width="30%" class="absolute-center" src="https://i.imgur.com/xujz2iY.png">
        </div>
        <div class="layer-two">
            <span style="background: #C0392B; width: 100%; text-align: center;">Үнэлэх</span>
        </div>
        <div class="layer-half">
            <p>Санал болгогдсон үгс тухайн синсетэд тохирох эсэхийг үнэлэх</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <div class="layer-one">
            <img width="100%" src="https://i.imgur.com/Zx9QDp2.png">
        </div>
        <div class="layer-two">
            <span style="background: #2E86C1; width: 100%; text-align: center;">Нутагшуулах</span>
        </div>
        <div class="layer-half">
            <p>Онтологи нутагшуулах үе шатуудтай танилцах</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
