<mat-grid-list fxShow fxHide.lt-sm="true" cols=5 rowHeight="200px" gutterSize="5px">
    <mat-grid-tile colspan="2" rowspan="1" routerLink="1">
        <div class="layer-one" style="background: #FAD7A0">
            <img width="15%" class="absolute-center" src="assets/img/translation_logo.png">
        </div>
        <div class="layer-two">
            <span class="label yellow">{{ "task.translate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels" [innerHTML]="'task.tr_desc' | translate"></p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="4">
        <div class="layer-one" style="background: #A9CCE3">
            <img width="15%" class="absolute-center" src="assets/img/gloss_translation_logo.png">
        </div>
        <div class="layer-two">
            <span class="label blue">{{ "task.gtranslate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.gtr_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3" style="align-items: flex-start;">
        <div class="widget">
            <mat-card class="card">
                <mat-card-title>{{ "task.progress" | translate }}</mat-card-title>
                <mat-divider></mat-divider>
                <mat-list>
                        <mat-list-item ><mat-chip-list><mat-chip>{{performance.translation}}</mat-chip></mat-chip-list>{{ "task.translated" | translate }}</mat-list-item>
                        <mat-list-item ><mat-chip-list><mat-chip>{{performance.modification}}</mat-chip></mat-chip-list>{{ "task.modified" | translate }}</mat-list-item>
                        <mat-list-item ><mat-chip-list><mat-chip>{{performance.validation}}</mat-chip></mat-chip-list>{{ "task.validated" | translate }}</mat-list-item>
                </mat-list>
            </mat-card>
            <mat-card class="card">
                <mat-card-title>{{ "task.app_info_title" | translate }}</mat-card-title>
                <mat-divider></mat-divider><br>
                <mat-card-content>
                    <div>
                        <div [innerHTML]="'task.loc_desc' | translate"></div>
                    </div>
                    <br>
                    <!-- <div>
                        <mat-icon color="primary">notifications_active</mat-icon> <div [innerHTML]="'task.design_notification' | translate"></div>
                    </div> -->
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="2">
        <div class="layer-one" style="background: #D7BDE2">
            <img width="15%" class="absolute-center" src="assets/img/modification_logo.png">
        </div>
        <div class="layer-two">
            <span class="label purple">{{ "task.modify" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.md_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="5">
        <div class="layer-one" style="background: #A3E4D7">
            <img width="15%" class="absolute-center" src="assets/img/gloss_modification_logo.png">
        </div>
        <div class="layer-two">
            <span class="label green">{{ "task.gmodify" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.gmd_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="3">
        <div class="layer-one" style="background: #F1948A">
            <img width="15%" class="absolute-center" src="assets/img/validation_logo.png">
        </div>
        <div class="layer-two">
            <span class="label red">{{ "task.validate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.vd_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" routerLink="6">
        <div class="layer-one" style="background: #AEB6BF">
            <img width="15%" class="absolute-center" src="assets/img/gloss_sort_logo.png">
        </div>
        <div class="layer-two">
            <span class="label dark">{{ "task.gvalidate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.gvd_desc" | translate }}</p>
        </div>
    </mat-grid-tile>

    <!--<mat-grid-tile colspan="2" rowspan="1" routerLink="/guidelines">
        <div class="layer-one">
            <img width="100%" src="assets/img/guide.png">
        </div>
        <div class="layer-two">
            <span class="label blue">{{ "task.localize" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.loc_desc" | translate }}</p>
        </div>
    </mat-grid-tile>-->
</mat-grid-list>

<mat-grid-list fxShow.lt-sm="true" fxHide cols=1 rowHeight="185px" gutterSize="5px">
    <mat-grid-tile rowspan="1" routerLink="1">
        <div class="layer-one" style="background: #FAD7A0">
            <img width="20%" class="absolute-center" src="assets/img/translation_logo.png">
        </div>
        <div class="layer-two">
            <span class="label yellow">{{ "task.translate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels" [innerHTML]="'task.tr_desc' | translate"></p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" routerLink="2">
        <div class="layer-one" style="background: #D7BDE2">
            <img width="20%" class="absolute-center" src="assets/img/modification_logo.png">
        </div>
        <div class="layer-two">
            <span class="label purple">{{ "task.modify" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.md_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" routerLink="3">
        <div class="layer-one" style="background: #F1948A">
            <img width="20%" class="absolute-center" src="assets/img/validation_logo.png">
        </div>
        <div class="layer-two">
            <span class="label red">{{ "task.validate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.vd_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" routerLink="4">
        <div class="layer-one" style="background: #A9CCE3">
            <img width="20%" class="absolute-center" src="assets/img/gloss_translation_logo.png">
        </div>
        <div class="layer-two">
            <span class="label blue">{{ "task.gtranslate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels" [innerHTML]="'task.gtr_desc' | translate"></p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" routerLink="5">
        <div class="layer-one" style="background: #A3E4D7">
            <img width="20%" class="absolute-center" src="assets/img/gloss_modification_logo.png">
        </div>
        <div class="layer-two">
            <span class="label green">{{ "task.gmodify" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.gmd_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" routerLink="6">
        <div class="layer-one" style="background: #AEB6BF">
            <img width="20%" class="absolute-center" src="assets/img/gloss_sort_logo.png">
        </div>
        <div class="layer-two">
            <span class="label dark">{{ "task.gvalidate" | translate }}</span>
        </div>
        <div class="layer-half">
            <p class="labels">{{ "task.gvd_desc" | translate }}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>