.layer-one {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	z-index: -2;
}

.layer-half {
	width: 100%;
	height: 100%;
	background: #E5E7E9;
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: 0.3s ease;
}

.layer-two {
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 0;
	position: absolute;
	align-items: flex-end;
	font-weight: 200;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.layer-two:hover + .layer-half {
	opacity: 1;
}

.absolute-center {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 25px; right: 0;
}

.widget {
	height: 100%;
}

.card {
    width: 80%;
    background-color: #E5E7E9;
    margin-bottom: 0.4em;
    text-align: center;
}

.labels {
	margin-top: 60px;
	text-align: center;
	color: black;
}

.label {
	width: 100%; 
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
}

.yellow {
	background: #F39C12;
}

.purple {
	background: #8E44AD;
}

.red {
	background: #C0392B;
}

.blue {
	background: #2E86C1;
}
.green {
	background: #138D75;
}
.dark {
	background: #283747;
}
#mt {
	margin-top: 17%;
}
