<br>
<mat-card class="center-side">
	<mat-card-title><mat-icon>lock_open</mat-icon>Нэвтрэх</mat-card-title>
	<mat-card-content>
		<mat-form-field>
			<input matInput placeholder="Хэрэглэгчийн нэр" [(ngModel)]="username" name="user" required>
		</mat-form-field><br>
	  	<mat-form-field>
			<input (keyup.enter)="login()" type="password" matInput placeholder="Нууц үг" [(ngModel)]="password" name="pass" required>
		</mat-form-field>
	  	<div>
	  		<button mat-button color="primary" routerLink="/register">бүртгүүлэх үү?</button>
	  		<button mat-raised-button color="primary" (click)="login()">Нэвтрэх</button>
	  	</div>
  	</mat-card-content>
</mat-card>
