input {
	font-size: 1.3em;
}
/deep/ label.mat-input-placeholder {
  font-size: 1.1em;
}
.block-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 36px;
}
mat-card {
    margin-right: auto;
    margin-left: auto;
    max-width: 330px;
    min-width: 50%;
    height: 100%;
}
mat-card-title {
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
}

mat-card-subtitle {
    text-align: center;
    font-size: 0.9em;
}

.field {
    width: 60%;
}

.input-field {
    text-align: center;
}