<br>
<mat-card class="center-side">
	<mat-card-title><mat-icon>lock_open</mat-icon>{{"login.title"|translate}}</mat-card-title>
	<mat-card-content>
		<mat-form-field>
			<input matInput placeholder='{{"login.uname"|translate}}' [(ngModel)]="username" name="user" required>
		</mat-form-field><br>
	  	<mat-form-field>
			<input (keyup.enter)="login()" type="password" matInput placeholder='{{"login.pass"|translate}}' [(ngModel)]="password" name="pass" required>
		</mat-form-field>
		<div [style.display]="isSpinning ? 'block' : 'none'">
	  		<mat-spinner [diameter]="60" style="margin: 0 auto;"></mat-spinner>
	  		<br>
	  	</div>
	  	<div>
	  		<button mat-button color="primary" routerLink="/register">{{"login.register"|translate}}</button>
	  		<button mat-raised-button color="primary" (click)="login()">{{"login.login"|translate}}</button>
	  		&nbsp;&nbsp;&nbsp;<a href="/resetpass">{{"login.forgot" | translate}}</a>
	  	</div>
  	</mat-card-content>
</mat-card>
