<br><mat-card>
	<mat-card-title>Нууц үг өөрчлөх</mat-card-title>
	<br>
	<mat-card-content class="input-field">
		<section *ngIf="isUserfieldAllowed">
			<br>
			<mat-form-field class="field">
				<input (keyup.enter)="sendEmail()" matInput placeholder='Хэрэглэгчийн нэр' [(ngModel)]="username" minlength="2" required>
			</mat-form-field>
			<div [style.display]="isSendingEmail ? 'block' : 'none'">
	  			<mat-spinner style="margin: 0 auto;" [diameter]="60"></mat-spinner>
	  			<br>
	  			<p style="margin: 0 auto;">Таны мейл рүү баталгаажуулах код илгээж байна, түр хүлээнэ үү...</p>
	  		</div><br>
			<button mat-button color="primary" *ngIf="!isSendingEmail" (click)="sendEmail()">Илгээх</button>
			<br>
		</section>

		<section *ngIf="isTokenAllowed">
			<br>
	  		<p style="margin: 0 auto;">Таны мейл рүү илгээсэн <b>баталгаажуулах кодыг</b> доор оруулна уу...</p>
			<br>
			<mat-form-field class="field">
				<input (keyup.enter)="checkToken()" matInput placeholder='Баталгаажуулах код' [(ngModel)]="token" required>
			</mat-form-field>
			<div [style.display]="isSendingToken ? 'block' : 'none'">
	  			<mat-spinner [diameter]="60" style="margin: 0 auto;"></mat-spinner>
	  			<br>
	  			<p style="margin: 0 auto;">Баталгаажуулах кодыг шалгаж байна, түр хүлээнэ үү...</p>
	  		</div><br>
			<button mat-button *ngIf="!isSendingToken" color="primary" (click)="checkToken()">Илгээх</button>
			<br>
		</section>

		<section *ngIf="isResetAllowed">
			<br>
			<mat-form-field class="field">
				<input matInput type="password" minlength="6" (keyup.enter)="resetPass()" placeholder='Шинэ нууц үг' [(ngModel)]="password" required>
			</mat-form-field>
			<mat-form-field class="field">
				<input matInput type="password" minlength="6" (keyup.enter)="resetPass()" placeholder='Шинэ нууц үгээ давтана уу' [(ngModel)]="repassword" required>
			</mat-form-field>
			<div [style.display]="isSendingPass ? 'block' : 'none'">
	  			<mat-spinner style="margin: 0 auto;" [diameter]="60"></mat-spinner>
	  			<br>
	  			<p style="margin: 0 auto;">Нууц үгийг шинэчилж байна, түр хүлээнэ үү...</p>
	  		</div><br><br>
			<button mat-raised-button *ngIf="!isSendingPass" color="primary" (click)="resetPass()">Илгээх</button>
			<br>
		</section>

		<section>
			<br>
			<p *ngIf="isSuccess" style="margin: 0 auto; color: green;">Таны нууц үг амжилттай шинэчлэгдлээ! <a href="/login">Энд дарж нэвтрэнэ үү...</a></p>
			<p *ngIf="isFailure" style="margin: 0 auto; color: red;">Уучлаарай таны нууц үгийг шинэчлэхэд алдаа гарлаа, дахин оролдоно уу!</p>
		</section>

	</mat-card-content>
</mat-card>