<br><mat-card>
	<mat-card-title>
		Нийтлэл
	</mat-card-title>
	<mat-divider></mat-divider><br>
	<mat-card-content>
	<div>
		<ol>
			<li>B. Lanser, C. Unger, and P. Cimiano, “Crowdsourcing Ontology Lexicons,”Proc. Tenth Int. Conf. Lang. Resour. Eval. (LREC 2016), pp. 3477–3484, 2016.</li>
			<li>P. Braslavski and Y. Kiselev, “YARN: Spinning-in-Progress,” pp. 58–65.</li>
			<li>O. F. Zaidan and C. Callison-Burch, “Crowdsourcing Translation: Professional Quality from Non-Professionals.,”Acl, pp. 1220–1229, 2011. </li>
			<li>V. Ambati, S. Vogel, and J. Carbonell, “Collaborative workflow for crowdsourcing translation,”Proc. ACM 2012 Conf. Comput. Support. Coop. Work - CSCW ’12, p. 1191, 2012. </li>
			<li>G. A. Miller, R. Beckwith, C. Fellbaum, and R. August, “Introduction to WordNet: An On-line Lexical Database,” no. August, 1993. </li>
			<li>M. Huertas, “Crowdsourcing a large scale multilingual lexico- semantic resource,”no. November, 2015.</li> 
			<li>Амарсанаа Ганболд ( A Methodology for Diversity-aware Multilingual Ontology Localization via Crowdsourcing ),”2016.</li>
			<li>F. Giunchiglia and B. Dutta, “Dera: a Faceted Knowledge Organization Framework,”Tech. Rep., vol. 2011, no. March, 2011. </li>
			<li>F. Giunchiglia, K. Batsuren, and G. Bella, “Understanding and Exploiting Language Diversity ∗,”2015.</li>
			<li>T. R. Gruber and T. R. Gruber, “A Translation Approach to Portable Ontology Specifications by A Translation Approach to Portable Ontology Specifications,” vol. 5, no. April, pp. 199–220, 1993.</li> 
			<li>M. Uschold, “Ontologies and Semantics for Seamless Connectivity ‡ 1 Introduction,”vol. 33, no. 4, pp. 58–64, 2004. </li>
			<li>M. C. Suárez-figueroa, “First Attempt towards a Standard Glossary of Ontology Engineering Terminology,” pp. 1–15.</li>
			<li>Г. Амарсанаа, Ч. Алтангэрэл, “Онтологи нутагшуулахад олны хүчийг ашиглах туршилт,” pp. 2–4.</li>
			<li>“Чинтогтох - Олны хүч ашиглан онтологи нутагшуулах нь”. </li>
			<li>M. Schulze, “Part 1 of 4: A New Monotonic , Clone-Independent , Reversal Symmetric , and Condorcet-Consistent Single-Winner Election Method,” no. March, 2017.</li>
		</ol>
	</div>
	</mat-card-content>
</mat-card>