<br><mat-card>
	<mat-card-title>
		Нийтлэл
	</mat-card-title>
	<mat-divider></mat-divider><br>
	<mat-card-content>
	<div>
		<mat-list>
			<mat-list-item><p>[<a href="assets/resources/mmt-2018.pdf">pdf</a>] Б. Эрдэнэбилэг, Г. Амарсанаа, З. Цолмон, "Нутгийн Мэдлэгийн Цөмийг хамтын ажиллагаат олны хүчээр үүсгэх систем", 2018, <i>Монголын Мэдээллийн Технологийн Эрдэм Шинжилгээний Хурал -- 2018</i></p></mat-list-item><br>
			<mat-list-item><p>[<a href="assets/resources/lkc-thesis.pdf">pdf</a>] Амарсанаа Ганболд, "A Methodology for Diversity-aware Multilingual Ontology Localization via Crowdsourcing", 2016, <i>Доктор (PhD)--ын зэрэг горилсон нэг сэдэвт бүтээл</i></p></mat-list-item><br>
			<mat-list-item><p>[<a href="assets/resources/mmt-2015.pdf">pdf</a>] Г. Амарсанаа, Ч. Алтангэрэл, “Онтологи нутагшуулахад олны хүчийг ашиглах туршилт” pp. 2–4, <i>Монголын Мэдээллийн Технологийн Эрдэм Шинжилгээний Хурал -- 2015</i></p></mat-list-item>
		</mat-list>
	</div>
	</mat-card-content>
</mat-card>