<br><mat-card>
	<mat-card-title>
		Нийтлэл
	</mat-card-title>
	<mat-divider></mat-divider><br>
	<mat-card-content>
		<p>
			Энэ төсөлтэй холбоотой эрдэм шинжилгээний өгүүлэл, нийтлэлийг дараах холбоосоор татаж авах боломжтой.
		</p><br>
		<p class="publication-item">[<a href="assets/resources/lrec-2018.pdf">PDF</a>] A. Ganbold, A. Chagnaa, and G. Bella, <i>"Using Crowd Agreement for Wordnet Localization,"</i> in Proceedings of the Eleventh International Conference on Language Resources and Evaluation (LREC 2018), 2018, Myazaki, Japan, pp. 474–478.</p>
		<p class="publication-item">[<a href="assets/resources/mmt-2018.pdf">PDF</a>] Б. Эрдэнэбилэг, Г. Амарсанаа, З. Цолмон, <i>"Нутгийн Мэдлэгийн Цөмийг хамтын ажиллагаат олны хүчээр үүсгэх систем",</i> Монголын Мэдээллийн технологи (ММТ) эрдэм шинжилгээний хурал, 2018, Улаанбаатар, Монгол</p>
		<p class="publication-item">[<a href="assets/resources/fitat-2015.pdf">PDF</a>] A. Ganbold and A. Chagnaa, <i>"Crowdsourcing Localization of Ontology and Geographical Names,"</i> in The Eighth International Conference on Frontiers of Information Technology, 2015, Jilin, China, pp. 120–124.</p>
		<p class="publication-item">[<a href="assets/resources/mmt-2015.pdf">PDF</a>] Г. Амарсанаа, Ч. Алтангэрэл, <i>"Онтологи нутагшуулахад олны хүчийг ашиглах туршилт",</i> Монголын Мэдээллийн технологи (ММТ) эрдэм шинжилгээний хурал, 2015, Улаанбаатар, Монгол</p>
	</mat-card-content>
</mat-card>