<br><mat-card>
	<mat-card-title>Төслийн тухайд...</mat-card-title>
	<mat-card-subtitle>Нутгийн Мэдлэгийн Цөмийг олны хүчээр үүсгэх нь</mat-card-subtitle>
	<mat-card-content>
		<div>
			<h3>Юуг?</h3>
			<p>Монгол НМЦ төслийн зорилго нь Ертөнцийн Мэдлэгийн Санд харьяалагдах Хэлний Цөмд Монгол хэлийг олны хүчээр үүсгэж суулгахад оршино. Ертөнцийн Мэдлэгийн Сан нь Италийн Трентогийн Их Сургууль дээр хөгжүүлэгдэж буй, Ойлголтын цөм, Айн цөм, Хэлний цөмүүдээс тогтоно. Ойлголтын цөм нь хэлнээс үл хамаарах бодит ертөнцийн ойлголтуудыг логик хэлээр буулгасан нөөц юм. Харин Хэлний цөмд тэдгээр ойлголтуудын олон хэлээр илэрхийлэгдсэн үгийн сангийн нөөцүүдийг хадгалах юм. Өөрөөр хэлбэл бид бидний таньж, мэдэрч байдаг хорвоо ертөнц эх хэлэнд маань хэрхэн илэрхийлэгддэгийг олон нийтээр тодорхойлуулах юм.</p>
			<br>
			<h3>Хэрхэн?</h3>
			<p>Хэлний цөмд харьяалагдаж буй аливаа хэлэнд бодит ертөнцийн нэгж ойлголтыг нэг синсетээр илэрхийлдэг. Синсет нь ойролцоо утгатай үгсийн олонлог. Ойролцоо утгатай үгс бол үгийн бичигдэх хэлбэр, дуудлагаараа хоорондоо өөр боловч илэрхийлэх утгын хувьд ойролцоо, тун адилхан үгс байдаг. Тухайлбал, анчин, гөрөөчин, сонсох, чагнах, дуулах гэх мэт. Тэгвэл олон хэлний синсетүүдээр илэрхийлсэн ойлголтыг Монгол хэлэнд яг ямар нэр томьёонууд ашиглан зааж, нэрлэдэг болохыг орчуулгын замаар буулгах үйл ажиллагаа нь эхний даалгавар болох юм.</p>
			<br>
			<p>Алдаатай бичигдсэн, синсетэд тохирохгүй үгсийг эсвэл хөнөөлтэй хэрэглэгчдийн үр дагаварыг цэвэрлэх зорилгоор орчуулгын даалгаврын үр дүнгүүдээс ургаж засварын даалгавар гарч ирэх юм.</p>
			<br>
			<p>Эцэст нь засварлагдсан синсетийн үгсийг зөв, буруу, мэдэхгүй ангиллуудад оноох үнэлгээний даалгавраар нэг ойлголтын нутагшуулалт өндөрлөнө.</p>
			<br>
			<h3>Алсын хараа</h3>
			<br>
			<p>Монгол мэдлэгийг компьютерт оруулж машиныг Монгол мэдлэгтэй болгох нь бидний судалгааны ажлын туйлын зорилго болно. Энэ мэдлэг даяаршиж буй дэлхийд Монгол соёлыг хадгалж ирээдүй хойч үедээ өвлүүлэх, эх хэл соёлоороо зөв сэтгэж ярьж сурахад дэмжлэг үзүүлэх, компьютер дээрх монгол хэлний нөөцийг баяжуулах зэрэг нь онц ач холбогдолтой юм. Ирээдүйд оюунлаг машинууд хоорондоо харилцаж хүний амьдралд тусалдаг болох тэр үед Монгол улсыг бэлэн байлгах, Монгол машин бусад орны машинуудтай улсаа төлөөлөн харилцан ажиллахад суурь мэдлэг болно.</p>
		</div>
	</mat-card-content>
</mat-card>