p {
	color: rgba(0, 0, 0, 0.75);
	text-align: justify;
}

mat-card-title {
	font-size: 1.8em;
}

mat-card-subtitle {
	font-size: 0.9em;
}

mat-card {
	width: 75%;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
}

div {
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 60%;
}
