<br>

<mat-card>
	<mat-card-title>Монгол НМЦ /төсөл/</mat-card-title>
	<mat-divider></mat-divider>
	<mat-card-content>
		<div>
			<br>
			<h2>Агуулга</h2>
			<br>
			<ul>
				<li><a href="project#prologue">Оршил</a></li>
				<li><a href="project#about">Төслийн тухай</a></li>
				<li><a href="project#contact">Холбоо барих</a></li>
			</ul>
			<br>
		</div>

		<mat-divider></mat-divider>
		<div id="prologue">
			<br>
			<h2>Оршил</h2>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;
			Таны хэрэглэж байгаа аппликейшн таны оруулсан өгөгдлийг утгачлан задлаж "ойлгоод", ойлгосон санаагаараа хайлт хийгээд зогсохгүй өөр эх сурвалжуудаас ухаж олсон өгөгдлүүдээ тодорхой нэг хэлбэрт хэлбэршүүлж нэгтгээд эсвэл холбоод гаргаж үзүүлдэг үйлчилгээтэй бол гар ажиллагааг хэдий чинээ хөнгөвчилнө гэж төсөөлөгдөж байна даа?
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Та бид өсөж төрсөн цагаасаа эхлэн юмсыг бас юмсын учир зүйн холбоог таньж мэдэж ирсэн учраас хүлээн авч байгаа мэдээлэлдээ дүгнэлт хийн, түүнээсээ шийдвэр гаргах чадварыг аль хэдийн эзэмшсэн байдаг. Харин машины хувьд ямар бол? 
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Дараах жишээг авч үзье л дээ: 
			<br>
			<ol>
				<li>Амьтан бол гартай хөлтэй.</li>
				<li>Махан тэжээлтэн ба өвсөн тэжээлтэн нь энэ төрөлд ордог.</li>
				<li>Махчин нь өвсөн тэжээлтнээ иддэг.</li>
				<li>Чоно бол махан тэжээлтэн.</li>
				<li>Хонь бол өвсөн тэжээлтэн.</li>
			</ol> 
			<br>
			Энэ бол та бидний харж сонсож мэдсэн хоолны гинжин системийн (food chain system) хүрээнд яригдах логикийн өчүүхэн нэг хэсэг нь. Бид энэ логикийг төвөггүй ойлгоод "<i>хоттой хонио чоноос хамгаалах хэрэгтэй</i>" гэсэн дүгнэлтэд хүрч болох ч <i>чоно</i>, <i>хонь</i>, <i>амьтан</i> гэх мэт ойлголтуудыг мэддэггүй байсан бол уг логикийг ашиглаж чадах байсан гэдэг нь мөн эргэлзээтэй. Тэгвэл машины хувьд ч ижил хэрэг.
			<br><br>
			<img src="/assets/img/ontology.png">
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Бид орчлон хорвоо дээр өөрсдийн мэдрэхүйгээрээ хүлээн авч, ойлгодог тэрхүү ойлголтуудаа машинд ойлгуулсан цагт сая бид чанартай семантик үйлчилгээг ярьж эхлэх юм. Дээрх зурагт өмнө дурьдсан ойлголтууд ба тэдгээрийн холбоог дүрсэлснийг <b>онтологи</b> гэж нэрлээд, компьютерт OWL хэлээр загварчилдаг. Дугуй тэмдэглэгээтэй нь <b>ойлголт</b> буюу энэ нь ямар ч хэлэнд харьяалагдахгүй, гагцхүү ертөнц дээр байгаа зүйлийг (хийсвэл эсвэл бодит) илэрхийлдэг заалт юм.
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Иймд бид танд Монгол хэлний нөөцийг агуулах Нутгийн Мэдлэгийн Цөмийг (НМЦ) танилцуулж байна. Энэ бол бидний хэл соёлд идээшсэн ойлголтуудын нэршлийг агуулах мэдлэгийн сан юм. Мэдээж бусад хэлний НМЦ ч гэсэн тухайн соёлынхоо ойлголтуудын нэршлийг агуулж байдаг.
			<br><br>
			<img src="/assets/img/lkc.png"> 
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Жишээлбэл, дээрх зурагт бидний хэлж заншсан <i>тоглоом</i> гэдэг үг нь 2 утга (нэг нь хүүхдийн тоглодог тоглоом, нөгөө нь дүрэмтэй тэмцээн) илэрхийлдэг, утгууд нь тус тусдаа оршиж байдаг бол Англи хэлэнд тус бүрт нь зориулсан (toy, game) үгс байдаг. Өөр нэг жишээ үзвэл, <i>монгол гэр</i> гэдэг ойлголт оршдог хэдий ч зөвхөн Монгол НМЦ-д байх агаад бусад НМЦ-д оршихгүй юм. Учир нь энэ нь зөвхөн Монгол соёлд маань байдаг өвөрмөц ойлголт учраас тэр. Энэ зарчмаар хэлний ялгаатай байдлууд үүсдэг нь хэл тус бүрт НМЦ үүсгэх анхдагч шалтгаан болжээ.  
			<br><br>
		</div>

		<mat-divider></mat-divider>
		<div id="about">
			<br>
			<h2>Төслийн тухай</h2>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;
			Бид энэ төслийн ажлаар Монгол НМЦ-ийг олны хүчээр үүсгэх зорилготой байгаа. Ертөнцийн ойлголтуудын логик уялдаа холбоо нь хэлнээс хамаарахгүйгээр оршдог бөгөөд олон хэл дээр загварчлагдсан байдаг. Ойлголтуудыг тэдгээр хэлүүдээс Монгол хэл рүү орчуулах замаар нутагшуулах аргачлалыг турших зорилгоор энэ системийг ашиглаж байгаа билээ.
			<br><br>
			Нэг ойлголтыг бид ойролцоо утгатай үгсээр илэрхийлдэг. Жишээлбэл: "<i>аав, эцэг</i>", "<i>анчин, гөрөөчин, ангууч</i>" гэх мэт.
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="/assets/img/localization.png">
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Системийн үйл ажиллагаа нь олны хүчийг ашиглан Монгол хэл дээрх ойлголтуудыг гаргаж авах гурван фазаас тогтоно: 
			<br><br>
			<ol>
				<li><b>Орчуулах</b> - Энэ фазд оролцогч олон хэлээр илэрхийлсэн ойлголтод тохирох монгол үгийг оноож бичнэ</li>
				<li><b>Засварлах</b> - Энэ фазд оролцогч ойлголтод тохирох монгол үгийн алдааг засна (тохиромжгүй үгийг хасах, алдаатай бичигдсэн үгийг засах)</li>
				<li><b>Үнэлэх</b> - Энэ фазд оролцогч ойлголтыг оновчтой илэрхийлж байгаа үгсийг зөв, буруугаар нь ангилна</li>
			</ol> 
			<br>
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Энэ хэсэг нь танд манай төслийн ерөнхий зорилго бөгөөд аргачлалын тухай товчхон танилцуулах зорилготой байсан бөгөөд даалгавруудыг хэрхэн гүйцэтгэх талаар дэлгэрэнгүйг нутагшуулах хэсгээс тодруулна уу.
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
			Эцсийн эцэст Монгол мэдлэгийг компьютерт оруулж машиныг Монгол мэдлэгтэй болгох нь бидний судалгааны ажлын туйлын зорилго. Энэ мэдлэг даяаршиж буй дэлхийд Монгол соёлыг хадгалж ирээдүй хойч үедээ өвлүүлэх, эх хэл соёлоороо зөв сэтгэж ярьж сурахад дэмжлэг үзүүлэх, компьютер дээрх монгол хэлний нөөцийг баяжуулах зэрэг нь онц ач холбогдолтой аж. Ирээдүйд оюунлаг машинууд хоорондоо харилцаж хүний амьдралд тусалдаг болох тэр үед Монгол улсыг бэлэн байлгах, Монгол машин бусад орны машинуудтай улсаа төлөөлөн харилцан ажиллахад суурь мэдлэг болно.
			<br><br>
			Таны оруулж буй хувь нэмэрт бид гүнээ талархаж байна!
			<br><br>
		</div>

		<mat-divider></mat-divider>
		<div id="contact">
			<br>
			<h2>Холбоо барих</h2>
			<br>
			<div class="left-profile">
				<img src="/assets/img/chief.png" class="profile">
				<h1>Амарсанаа Г. (төслийн удирдагч)</h1><br>
				<mat-card-subtitle>amarsanaag@gmail.com</mat-card-subtitle>
			</div>
			<div class="right-profile">
				<img src="/assets/img/developer.png" class="profile">
				<h1>Эрдэнэбилэг Б. (хөгжүүлэгч)</h1><br>
				<mat-card-subtitle>erdenebileg.byambadorj@gmail.com</mat-card-subtitle>
			</div>
			<br><br><br><br>
		</div>
		<br><br>
		<mat-divider></mat-divider>
		<br><br>
	</mat-card-content>
</mat-card>
