p {
	color: rgba(0, 0, 0, 0.75);
	text-align: justify;
}

div {
	text-align: justify;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

h2 {
	font-size: 1.7em;
	font-weight: 300;
}

img.profile {
	min-width: 50px; 
	min-height: 50px;
	max-width: 50px; 
	max-height: 50px;
}
#contact {
	max-width: 560px;
	margin: 0 auto;
	text-align: center;
}

span.authors {
	flex: 1 1 auto;
}
@media only screen and (max-width: 573px) {
	span.authors {
		display: none;
	}
}

div.left-profile {
	float: left; 
	text-align: center;
}

div.right-profile {
	float: right; 
	text-align: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap > div {
	margin: 0 auto;
	text-align: center;
}