<br><mat-card>
	<mat-card-title>Төслийн тухайд...</mat-card-title>
	<mat-card-subtitle>Нутгийн Мэдлэгийн Цөмийг олны хүчээр үүсгэх нь</mat-card-subtitle>
	<mat-card-content>
		<div>
			<img src="assets/ont_loc.png"><br>
			<p>Семантик вэб, ухаалаг үйлчилгээг хөгжүүлэхэд эх хэлээр бичсэн өгүүлбэрийг задалж утгачлан хайх, өгөгдлийг утга, агуулгаар нь нэгтгэж мэдлэгийн санг үүсгэх, баяжуулах зэрэг аргачлал, технологи зайлшгүй шаардлагатай байдаг. Харин эдгээр технологийг бий болгоход бодит ертөнц дээрх ойлголт, түүнийг илэрхийлэх хэлний нэр томъёог цэгцтэй зохион байгуулсан машин ойлгох семантик нөөц хэрэгтэй. Жишээлбэл, монгол хэлээр ухаалаг үйлчилгээ үзүүлэхийн тулд монгол мэдлэг, хэл соёлыг багтаасан семантик нөөцийг ашиглах шаардлагатай. </p>
			<br>
			<p>Бид энэ ажлаар Монгол Нутгийн Мэдлэгийн Цөмийг (Local Knowledge Core) үүсгэхээр зорьж байгаа юм. Та Англи болон бусад 4 хэлээр илэрхийлсэн ойлголтод харгалзах Монгол үгийн сангийн нэгжийг (lexical unit оноож бичих, тэдгээрийг засварлах болон үнэлэх ажлуудыг уг системийг ашиглан гүйцэтгэснээр Монгол хэл соёлд хэрэглэгддэг мэдлэгийн санг гаргаж авахад өөрийн зүгээс хувь нэмрээ оруулах юм. Өөрөөр хэлбэл Монгол мэдлэгийг компьютерт оруулж машиныг Монгол мэдлэгтэй болгох нь бидний судалгааны ажлын туйлын зорилго болно. Энэ мэдлэг даяаршиж буй дэлхийд Монгол соёлыг хадгалж ирээдүй хойч үедээ өвлүүлэх, эх хэл соёлоороо зөв сэтгэж ярьж сурахад дэмжлэг үзүүлэх, компьютер дээрх монгол хэлний нөөцийг баяжуулах зэрэг нь онц ач холбогдолтой юм. Ирээдүйд оюунлаг машинууд хоорондоо харилцаж хүний амьдралд тусалдаг болох тэр үед Монгол улсыг бэлэн байлгах, Монгол машин бусад орны машинуудтай улсаа төлөөлөн харилцан ажиллахад суурь мэдлэг болно.</p>
		</div>
	</mat-card-content>
</mat-card>