h1.mat-dialog-title {
    margin-bottom: 10px!important;
}
div.mat-dialog-content {
    margin-top: 10px;
}
li.line, p.remark_label {
    margin-bottom: 8px;
    line-height: 1.4em;
}
p.remark_label {
    color: #999;
}
button {
    text-transform: uppercase;
}