<mat-card class="card">
	<mat-card-title><mat-icon>fingerprint</mat-icon>Бүртгүүлэх</mat-card-title>
	<mat-card-subtitle>доорх мэдээллийг үнэн зөв бөглөнө үү!</mat-card-subtitle>
	<mat-card-content>
		<mat-form-field class="container">
	    	<input matInput placeholder="Хэрэглэгчийн нэр" required>
	  	</mat-form-field>
	  	<mat-form-field class="container">
	    	<input matInput placeholder="Өөрийн нэр" required>
	  	</mat-form-field>
	  	<mat-form-field class="container">
	  		<input matInput placeholder="И-Мейл хаяг" required>
	  	</mat-form-field>
	  	<mat-form-field class="container">
	  		<input matInput type="password" placeholder="Нууц үг" required>
	  	</mat-form-field>
	  	<mat-form-field class="container">
	  		<input matInput type="password" placeholder="Нууц үг давтах" required>
	  	</mat-form-field>
	  	<button mat-button>Бүртгүүлэх</button>
  	</mat-card-content>
</mat-card>