<br>
<mat-card class="center-side">
	<mat-card-title><mat-icon>fingerprint</mat-icon>{{"register.title"|translate}}</mat-card-title>
	<mat-card-subtitle>{{"register.subtitle"|translate}}</mat-card-subtitle>
	<mat-card-content>
		<mat-form-field>
	    	<input matInput placeholder='{{"register.uname"|translate}}' minlength="4" [(ngModel)]="uname" required>
	    	<mat-error>{{"register.err.uname"|translate}}</mat-error>
	  	</mat-form-field>
	  	<br>
	  	<mat-form-field>
	    	<input matInput placeholder='{{"register.name"|translate}}' [(ngModel)]="name" minlength="2" required>
	    	<mat-error>{{"register.err.name"|translate}}</mat-error>
	  	</mat-form-field>
	  	<br>
	  	<mat-form-field>
	  		<input matInput [formControl]="email" placeholder='{{"register.email"|translate}}' required>
	  		<mat-error *ngIf="email.invalid">{{getErrorMessage()|translate}}</mat-error>
	  	</mat-form-field>
	  	<br>
	  	<mat-form-field>
	  		<input matInput type="password" [(ngModel)]="password" placeholder='{{"register.pass"|translate}}' minlength="6" required>
	  		<mat-error>{{"register.err.pass"|translate}}</mat-error>
	  	</mat-form-field>
	  	<br>
	  	<div class="right-side">
	  		<button mat-button color="primary" routerLink="/login">{{"register.login"|translate}}</button>
	  		<button mat-raised-button color="primary" (click)="registerUser()">{{"register.signup"|translate}}</button>
	  	</div>
  	</mat-card-content>
</mat-card>
