<br>
<mat-card>
	<mat-card-title>{{ "home.welcome" | translate }}</mat-card-title>
	<mat-card-content>

		<mat-horizontal-stepper>
		  <mat-step>
		    <form>
		      <ng-template matStepLabel>{{"home.stepper.clabel" | translate}}</ng-template>
		      <mat-form-field>
				  <mat-select placeholder='{{ "home.choose" |translate }}'>
				    <mat-option (click)="changeLang('mn')" value="Монгол (mn)">Монгол (mn)</mat-option>
				    <mat-option (click)="changeLang('en')" value="English (en)">English (en)</mat-option>
				  </mat-select>
				</mat-form-field>
				<br>
		      <div>
		        <button mat-button matStepperNext>{{"home.stepper.done" | translate}}</button>
		      </div>
		    </form>
		  </mat-step>
		  <mat-step>
		    <form>
		      <ng-template matStepLabel>{{"home.stepper.plabel" | translate}}</ng-template>
		      <p [innerHTML]="'home.stepper.pcontent' | translate"></p>
		      <br><br>
		      <div>
		        <button mat-button matStepperPrevious>{{"home.stepper.return" | translate}}</button>
		        <button mat-button matStepperNext>{{"home.stepper.done" | translate}}</button>
		      </div>
		    </form>
		  </mat-step>
		  <mat-step>
		    <ng-template matStepLabel>{{"home.stepper.loclabel" | translate}}</ng-template>
		     <p [innerHTML]="'home.stepper.loccontent' | translate"></p>
		    <br><br>
		    <div>
		      <button mat-button matStepperPrevious>{{"home.stepper.return" | translate}}</button>
		      <button mat-button matStepperNext>{{"home.stepper.done" | translate}}</button>
		    </div>
		  </mat-step>
		  <mat-step>
		    <ng-template matStepLabel>{{"home.stepper.tlabel" | translate}}</ng-template>
		    {{"home.stepper.tcontent" | translate}}
		    <br><br>
		    <div>
		      <button mat-button matStepperPrevious>{{"home.stepper.return" | translate}}</button>
		      <button mat-button routerLink="/task">{{"home.stepper.participate" | translate}}</button>
		    </div>
		  </mat-step>
		</mat-horizontal-stepper>

	</mat-card-content>
</mat-card>