<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>Англи хэл дээрх ойлголт</p>
			</div>
			<div class="panel-body table-responsive">
				<div class="table">
					<tr>
						<td>Синсет</td>
						<td>{{task.lemma}}</td>
					</tr>
					<tr>
						<td>POS</td>
						<td>noun</td>
					</tr>
					<tr>
						<td>Тайлбар</td>
						<td>{{task.gloss}}</td>
					</tr>
					<tr>
						<td>Жишээ</td>
						<td>Жишээ өгүүлбэр байхгүй.</td>
					</tr>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<form #f="ngForm" (ngSubmit)="sendData(f)" novalidate>
			<div class="panel panel-default">
				<div class="panel-heading">
					<p>Зорилтот хэлний синсет</p>
				</div>
				<div class="panel-body table-responsive">
					<div class="table table-bordered">
						<tr>
							<th>Үг</th>
							<th>Өөрийн үнэлгээ</th>
							<th></th>
						</tr>
						<tr *ngFor="let item of lemmas; let i = index">
							<td>{{item.lemma}}</td>
							<td>{{item.rating}}</td>
							<td><button (click)="deleteLemma(i)"class="btn btn-danger">
									Delete
								</button></td>
						</tr>
						<tr>
							<td><input type="text" class="form-control" [(ngModel)]="lemma" name="lemma" placeholder="үг нэмэх"></td>
							<td><input type="number" class="form-control" [(ngModel)]="rating" name="rating" placeholder="өөрийн үнэлгээ(1-5)"></td>
							<td><button type="button" class="btn btn-default btn-md" (click)="addLemma()">Үг нэмэх</button></td>
						</tr>
					</div>
					
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary">Илгээх</button>
				</div>
			</div>
		</form>
	</div>
</div>