p {
	color: rgba(0, 0, 0, 0.75);
	text-align: justify;
}

div {
	text-align: justify;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 60%;
    border-radius: 10px 10px;
}

h2 {
	font-size: 1.7em;
	font-weight: 300;
}

img.profile {
	min-width: 50px; 
	min-height: 50px;
	max-width: 50px; 
	max-height: 50px;
}

mat-drawer {
	width: 30%;
}