<mat-card class="lkc-card">
	<mat-card-title>Нутагшуулах ажил</mat-card-title>
	
	<mat-divider></mat-divider><br><br>

	<mat-card-content>

		<div>
			&ensp;<b>Нутагшуулах</b> ажил нь олон хэл дээр илэрхийлэгдсэн ойлголтыг Монгол хэл рүү буулгахад хэрэгжүүлж байгаа үйл ажиллагаануудыг цогцоор нь нэрлэнэ. 
			<br><br>
			<img src="/assets/img/ont_localization.png">
			<br><br>
			&emsp;Нутагшуулах үйл ажиллагаанд таны зүгээс оруулах хувь нэмэр нь гурван төрөлд ангилагдана. Өөрөөр хэлбэл, та ойлголтыг <i>орчуулах</i>, <i>засварлах</i> болон <i>үнэлэх</i> даалгавруудыг хүссэнээрээ сонгон гүйцэтгэж болно.
			<br><br>
			<img src="/assets/img/ss_task.jpg">
			<br><br>
			&emsp;Даалгаврын төрлөөс үл хамааран танд 25 ай (domain) өгөгдөнө. Энэ 25 ай нь бүх нэр үгийн ойлголтуудын үндэс бөгөөд ай тус бүр тухайн ойлголтоос ургаж гарсан ойлголтуудыг агуулж байдаг. Иймд аливаа айг сонгосноор, та тэр ойлголттой холбоотой ойлголтуудыг орчуулах ба хэдий чинээ ихийг орчуулна (эсвэл засварлах, үнэлэх) төдий чинээ төрөл ойлголтуудын ялгааг гаргаж орчуулах (эсвэл засварлах, үнэлэх) чадвар шаардагдах юм.
			<br><br>
			<img src="/assets/img/ss_domain.jpg">
			<br><br>
			&emsp;Үүний дараагаар таны ямар даалгавар сонгосноос хамааран, систем таны гүйцэтгэх даалгаврыг бэлтгэж өгнө.
			
		</div>

		<br><br>

		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Орчуулах
					</mat-panel-title>
					<mat-panel-description>
						Орчуулгын ажлаар анхаарах хүчин зүйлс
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					&emsp;Та орчуулах ажлаар, өгөгдсөн ойлголтыг илэрхийлэх ойролцоо үгсийг орчуулна. Тухайн ойлголтыг илэрхийлэхэд Монгол хэл соёлд маань ашиглагддаг өөрийн мэдэх үгсийг оноож, та үүндээ хэр итгэл дүүрэн байгаа хувийн үнэлгээгээ мөн оноож өгнө.
					<br><br>
					<img src="/assets/img/ss_translation.jpg">
					<br><br>
					&emsp;Хэрвээ ойлголт Монгол хэлэнд оршдог гэж үзвэл дор хаяж нэг үгтэй байх ёстой. Харин Монгол хэлэнд тухайн ойлголт байхгүй гэж үзвэл GAP сонголтыг сонгон яагаад энэ ойлголт Монгол хэлэнд байдаггүй тайлбарыг хангаж өгөх хэрэгтэй. 
					<br><br>
					<img src="/assets/img/gap_translation.jpg">
					<br><br>
					&emsp;Жишээлбэл, Англи хэлэнд "brother" гэсэн ойлголт нь эрэгтэй дүү юм уу ахыг нэрлэдэг. Харин манай хэлний хувьд насны хэмжээстээр ангилан "ах", "дүү" гэсэн ойлголтуудад хуваагддаг.
					<br><br>
					&emsp;Хэрвээ танд өмнө орчуулсан үр дүн чинь одоогийн орчуулгад хэрэгтэй болвол "ӨМНӨ НЬ" гэсэн картыг дарахад хангалттай
					<br><br>
					<img src="/assets/img/prev_translation.jpg">
					<br><br>
					&emsp;Өмнө орчуулсан ойлголтуудаа "өмнөх" ба "дараах" гэсэн товчуудаар сольж үзэж болно.
					<br><br>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Засварлах
					</mat-panel-title>
					<mat-panel-description>
						Засварын даалгавар дээр анхаарах зүйлс
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					&emsp;Та засварын даалгаврын хүрээнд дараах 2 зорилгыг гүйцэлдүүлэх хэрэгтэй:
					<br><br>
					<ul>
						<li>Хэрвээ тухайн ойлголтод харьяалагдахгүй, эсвэл тохиромжгүй үг байвал хасах</li>
						<li>Хэрвээ тухайн ойлголтод харьяалагдахад зохимжтой үг сангийн алдаатай бичигдсэн бол засах</li>
					</ul>
					<br><br>
					<img src="/assets/img/ss_mod.jpg">
					<br><br>
					&emsp;Ойлголтод оноогдсон байгаа үг бүрийн хувьд 2 товч байгаа. Хэрвээ үг уг ойлголтыг төлөөлж чадна, мөн үгийн сангийн алдаагүй бичигдсэн гэж үзвэл хэвээр үлдээх (<mat-icon>spellcheck</mat-icon>) товчийг ашиглана.
					<br><br>
					&emsp;Хэрвээ үг уг ойлголтыг төлөөлж чадаж байгаа хэдий ч үгийн сангийн алдаатай бичигдсэн бол харгалзах 'засвар үг' дээр алдаагүй хувилбарыг нь бичиж өгнө.
					<br><br>
					&emsp;Харин үг нь тухайн ойлголтыг илэрхийлэхэд тохиромжгүй гэж үзвэл арилгах товчоор (<mat-icon>clear</mat-icon>) хасна. 
					<br><br>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Үнэлгээ
					</mat-panel-title>
					<mat-panel-description>
						Үнэлгээний даалгаврыг хэрхэн гүйцэтгэх
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div>
					Та үнэлгээний даалгавраар өгөгдсөн үгс, харгалзах ойлголтынхоо үгс <i>мөн</i>, <i>биш</i> эсэхийг үг тус бүрийн хувьд сонгож өгөх юм. Эргэлзээтэй тохиолдолд <i>мэдэхгүй</i> сонголт байгаа.
					<br><br>
					<img src="/assets/img/ss_valid.jpg">
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>

	<br><br><br>
</mat-card>