<br>
<div fxLayout>
	<mat-card>
		<mat-card-title>Найруулах</mat-card-title>
		<mat-card-subtitle>Өгөгдсөн орчуулгуудыг ашиглан ойлголтын тайлбарыг найруулан бичнэ үү</mat-card-subtitle>
		<mat-spinner [diameter]="60" [style.display]="isSpinning ? 'block' : 'none'" style="margin: 0 auto;"></mat-spinner>

		<mat-card-content *ngIf="statusCode==1; else error;">
			<mat-tab-group selectedIndex = "{{ selectedInd }}">
				<mat-tab label="Mongolian">
					<br><p class="lemma"> {{ currentTask.task.targetWords }} </p><br>
				</mat-tab>
				<mat-tab *ngFor="let synset of currentTask.task.synset" label="{{language[synset.vocabularyId] | translate}}">
					<br><p class="lemma"> {{ synset.lemma }}</p><br>
					<p class="gloss"> {{ synset.gloss }} </p>
				</mat-tab>
			</mat-tab-group><br>

			<mat-divider></mat-divider>

			<br>

			<div>
				<mat-form-field appearance="fill">
					<mat-label>Тайлбар засаж бичих булан</mat-label>
					<input #message maxlength="256" matInput [(ngModel)]="modifiedGloss" placeholder="Засварласан тайлбараа энд оруулж бичнэ үү">
					<mat-icon matSuffix>edit</mat-icon>
					<mat-hint align="start">зөвхөн тайлбарыг орчуулна уу</mat-hint>
    				<mat-hint align="end">{{message.value.length}} / 256</mat-hint>
				</mat-form-field>
			</div>

			<br>

			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Reference Translations
						</mat-panel-title>
						<mat-panel-description>
							Click here to see reference translations
						</mat-panel-description>
					</mat-expansion-panel-header>

					<mat-nav-list>
						<mat-list-item *ngFor="let t of currentTask.task.translatedGlosses">
							<mat-icon matListIcon>attachment</mat-icon>
							<p matLine>{{ t.gloss }}</p>
							<span matLine>
								(reference translation)
							</span>
						</mat-list-item>
					</mat-nav-list>

				</mat-expansion-panel>
			</mat-accordion>

		</mat-card-content>

		<mat-divider></mat-divider>

		<mat-card-actions *ngIf="statusCode==1">
			<div class="right-side">
				<button mat-button color="primary" (click)="skip()">{{"modification.skip" | translate}}&nbsp;&nbsp;<mat-icon>skip_next</mat-icon></button>
				<button mat-button color="primary" (click)="sendData()">{{"modification.send" | translate}}&nbsp;&nbsp;<mat-icon>send</mat-icon></button>
			</div>
		</mat-card-actions>

		<ng-template #error>
			<div *ngIf="!statusCode" class="alert">
				<p>{{ statusMsg | translate }}</p>
			</div>
		</ng-template>

	</mat-card>
</div>