<br>
<div fxLayout>
	<mat-card [@prevCardPosition]="prevState" (click)="setPrevState()" fxHide.lt-sm="true" fxShow class="previous">
		<mat-card-title>Сэргээе</mat-card-title>
		<mat-card-subtitle>
			Түр байзаарай, би өмнө юу гэж орчууллаа?
		</mat-card-subtitle>
		<mat-card-content [style.display]="isPrevExpanded ? 'block' : 'none'" *ngIf="currentPrevTask.success">
			<mat-tab-group selectedIndex="{{prevSelectedInd}}">
				<mat-tab *ngFor="let s of currentPrevTask.data.synset" label="{{ language[s.vocabularyId] }}">
					<br><p class="lemma"> {{ s.lemma }} </p><br>
					<p class="gloss"> {{ s.gloss }} </p>
				</mat-tab>
			</mat-tab-group>
			<mat-form-field *ngFor="let t of currentPrevTask.data.translation" class="word">
				<input matInput value="{{t.lemma}} ({{t.rating}})" disabled>
			</mat-form-field>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions [style.display]="isPrevExpanded ? 'block' : 'none'" *ngIf="statusCode == 1">
			<button mat-button color="primary" *ngIf="currentPrevTask.success" (click)="getPrevious(currentPrevTask.data.taskId)"><mat-icon>arrow_back</mat-icon>&nbsp;&nbsp;Өмнөх</button>
			<span class="example-spacer"></span>
			<button mat-button color="primary" *ngIf="currentPrevTask.success" (click)="getNext(currentPrevTask.data.taskId)">Дараах&nbsp;&nbsp;<mat-icon>arrow_forward</mat-icon></button>
		</mat-card-actions>
	</mat-card>
	<mat-card [@mainCardPosition]="mainState" (click)="setMainState()" class="current" (keydown.control.enter)="sendData()">
		<mat-card-title>Орчуулга</mat-card-title>
		<mat-card-subtitle>Дараах ойлголтыг илэрхийлэх монгол үг(с)ийг оноож бичнэ үү</mat-card-subtitle>
		<mat-spinner [style.display]="isSpinning ? 'block' : 'none'" style="margin: 0 auto;"></mat-spinner>
		<mat-card-content *ngIf="statusCode == 1; else error;">
			<mat-tab-group selectedIndex="{{ selectedInd }}">
				<mat-tab *ngFor="let synset of currentTask.synset" label="{{language[synset.vocabularyId]}}">
					<br><p class="lemma"> {{ synset.lemma }}</p><br>
					<p class="gloss"> {{ synset.gloss }} </p>
				</mat-tab>
			</mat-tab-group><br>

			<div *ngFor="let run of taskRun">
				<mat-form-field class="word">
					<input matInput (keyup.enter)="addForm()" [(ngModel)]="run.lemma" placeholder="Орчуулга үг">
				</mat-form-field>
				<span matTooltip="Миний орчуулсан үгийн үнэлгээ!">
					<mat-icon *ngFor="let i of rates" (click)="run.rating=i" [style.color]="(run.rating >= i) ? '#FAE10A' : 'gray'" class="grades">grade</mat-icon>
				</span>
				<button *ngIf="taskRun.indexOf(run) == taskRun.length-1; else clearBtn" mat-mini-fab (click)="addForm()" color="primary" matTooltip="Синсетийн шинэ үг нэмэх!" matTooltipPosition="after"><mat-icon>add</mat-icon></button>
				<ng-template #clearBtn>
					<button mat-mini-fab color="warn" (click)="clearForm(taskRun.indexOf(run))" matTooltip="Энэ үгийг арилгах!" matTooltipPosition="after"><mat-icon>clear</mat-icon></button>
				</ng-template>
			</div>
		</mat-card-content>
		<mat-divider></mat-divider>
		<mat-card-actions *ngIf="statusCode == 1">
			<div class="right-side">
				<p class="alert">{{ alert }}</p>
				<button mat-button color="primary">GAP&nbsp;&nbsp;<mat-icon>event_busy</mat-icon></button>
				<button mat-button color="primary">Алгасах&nbsp;&nbsp;<mat-icon>skip_next</mat-icon></button>
				<button mat-button color="primary" (click)="sendData()">Илгээх&nbsp;&nbsp;<mat-icon>send</mat-icon></button>
			</div>
		</mat-card-actions>
		<ng-template #error>
			<div *ngIf="!statusCode" class="alert">
				<p>{{ statusMsg }}</p>
			</div>
		</ng-template>
	</mat-card>
</div>