<br>
<mat-card>
	<mat-card-title><mat-icon>translate</mat-icon>Орчуулга</mat-card-title>
	<mat-card-subtitle>оноогдож ирсэн синсетийн үгсийг орчуулах</mat-card-subtitle>
	<mat-spinner [style.display]="isSpinning ? 'block' : 'none'" style="margin: 0 auto;"></mat-spinner>
	<mat-card-content *ngIf="statusCode == 1; else error;">
		<mat-tab-group>
			<mat-tab *ngFor="let synset of currentTask.synset" label="{{synset.languageCode}} - mn">
				<br><p class="lemma"> {{ synset.lemma }}</p>
				<p> {{ synset.gloss }} </p>
			</mat-tab>
		</mat-tab-group><br><br>

		<div *ngFor="let run of taskRun">
			<mat-form-field class="word">
				<input matInput [(ngModel)]="run.lemma" placeholder="Орчуулах үг">
			</mat-form-field>
			<mat-form-field class="score">
				<mat-select class="sizer" placeholder="%" [(ngModel)]="run.rating">
					<mat-option *ngFor="let rate of rates" [value]="rate">{{ rate }}</mat-option>
				</mat-select>
			</mat-form-field>
			<button *ngIf="taskRun.indexOf(run) == taskRun.length-1; else clearBtn" mat-mini-fab (click)="addForm()" color="primary" matTooltip="Синсетийн шинэ үг нэмэх!" matTooltipPosition="after"><mat-icon>add</mat-icon></button>
			<ng-template #clearBtn>
				<button mat-mini-fab color="warn" (click)="clearForm(taskRun.indexOf(run))" matTooltip="Энэ үгийг арилгах!" matTooltipPosition="after"><mat-icon>clear</mat-icon></button>
			</ng-template>
		</div>

		<mat-divider></mat-divider>
		<mat-card-footer>
			<div class="right-side">
				<p class="alert">{{ alert }}</p>
				<button mat-button color="warn">Алгасах&nbsp;<mat-icon>sync</mat-icon></button>
				<button mat-button color="primary" (click)="sendData()">Илгээх&nbsp;&nbsp;<mat-icon>send</mat-icon></button>
			</div>
		</mat-card-footer>
	</mat-card-content>
	<ng-template #error>
		<div *ngIf="!statusCode" class="alert">
			<p>{{ statusMsg }}</p>
		</div>
	</ng-template>
</mat-card>