<div fxHide.lt-sm fxShow="true">  
  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-button routerLink="/">{{ "nav.title" | translate }}</button>
    <button mat-button routerLink="/project"><mat-icon class="mr-1">info</mat-icon>{{ "nav.project" | translate }}</button>
    <button mat-button routerLink="/task"><mat-icon class="mr-1">translate</mat-icon>{{ "nav.challenge" | translate }}</button>
    <button mat-button routerLink="/publications"><mat-icon class="mr-1">public</mat-icon>{{ "nav.publication" | translate }}</button>

    <span class="example-spacer"></span>

    <img src="/assets/img/en.png" (click)="changeLang('en')">
    &nbsp;&nbsp;
    <img src="/assets/img/mon.png" (click)="changeLang('mn')">
    &nbsp;&nbsp;

    <div *ngIf="!isAuth(); else profile">
      <button mat-button routerLink="/login"><mat-icon>lock_open</mat-icon></button>
      <button mat-button routerLink="/register"><mat-icon>fingerprint</mat-icon></button>
    </div>
    <ng-template #profile>

      <button mat-button [matMenuTriggerFor]="menu">
          <span>{{ username }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
              <mat-icon class="mr-1">account_circle</mat-icon>
              <span>{{ "nav.profile" | translate }}</span>
          </button>
          <button mat-menu-item disabled>
              <mat-icon class="mr-1">settings</mat-icon>
              <span>{{ "nav.config" | translate }}</span>
          </button>
          <button mat-menu-item (click)="exit()">
              <mat-icon class="mr-1">power_settings_new</mat-icon>
              <span>{{ "nav.logout" | translate }}</span>
          </button>
      </mat-menu>

    </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div fxShow.lt-sm="true" fxHide>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/">{{ "nav.title" | translate }}</button>
      
      <span class="example-spacer"></span>
      
      <button mat-button [matMenuTriggerFor]="menuMin">
        <mat-icon>more_vert</mat-icon>
      </button>


      <mat-menu #menuMin="matMenu">
        <button mat-menu-item routerLink="/project"><mat-icon>info</mat-icon><span>{{ "nav.project" | translate }}</span></button>
        <button mat-menu-item routerLink="/task"><mat-icon>translate</mat-icon><span>{{ "nav.challenge" | translate }}</span></button>
        <button mat-menu-item routerLink="/publications"><mat-icon>public</mat-icon><span>{{ "nav.publication" | translate }}</span></button>
        <div *ngIf="!isAuth(); else profileMin">
          <button mat-menu-item routerLink="/login"><mat-icon>lock_open</mat-icon><span>{{ "nav.login" | translate }}</span></button>
          <button mat-menu-item routerLink="/register"><mat-icon>fingerprint</mat-icon><span>{{ "nav.register" | translate }}</span></button>
        </div>
        <ng-template #profileMin>
          <button mat-menu-item routerLink="/profile">
              <mat-icon>account_circle</mat-icon>
              <span>{{ "nav.profile" | translate }}</span>
          </button>
          <button mat-menu-item (click)="exit()">
              <mat-icon>power_settings_new</mat-icon>
              <span>{{ "nav.logout" | translate }}</span>
          </button>
        </ng-template>
      </mat-menu>


    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
