<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-button routerLink="/"><h1>&nbsp;LKC@mongolia&nbsp;</h1></button>

  <button mat-button routerLink="/task"><mat-icon>assignment</mat-icon>даалгавар авах</button>
  <button mat-button><mat-icon>info</mat-icon>тухай</button>
  <button mat-button><mat-icon>help_outline</mat-icon>faq</button>

  <span class="example-spacer"></span>
  <div *ngIf="!isAuth(); else profile">
    <button mat-button routerLink="/login"><mat-icon>lock_open</mat-icon>нэвтрэх</button>
    <button mat-button routerLink="/register"><mat-icon>fingerprint</mat-icon>бүртгүүлэх</button>
  </div>
  <ng-template #profile>

    <button mat-button [matMenuTriggerFor]="menu">
        <span>{{ username }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span>Профайл</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>build</mat-icon>
            <span>Тохируулга</span>
        </button>
        <button mat-menu-item (click)="exit()">
            <mat-icon>cancel</mat-icon>
            <span>Гарах</span>
        </button>
    </mat-menu>

  </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
