mat-card {
	font-size: 1.5em;
}
.profile-card {
    margin-top: 2em !important;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
}
.profile-card mat-card-content {
    text-align: left;
}
.profile-card span {
    width: 100px;
    display: inline-block;
}
