<div class="jumbotron text-center">
	<h1>Олны хүч = Оломгүй далай</h1>
	<p class="lead">Тавтай морил! Манай Нутгийн Мэдлэгийн цөмийг олны хүчээр үүсгэх MnLKC системд таны ур чадварыг сорьсон олон даалгавар хүлээж байна! Дэлгэрэнгүйг энд дарж үзнэ үү!</p>
	<div>
		<a *ngIf="!authService.loggedIn()" class="btn btn-success" [routerLink]="['/register']">Бүртгүүлэх</a>
		&nbsp;&nbsp;
		<a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['/login']">Нэвтрэх</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Үг оноох</h3>
		<ul>
			<li>Системээс оноож өгсөн синсетийн үгсэд харгалзах Монгол хэлний үгсийг оноож өгөх</li>
			<li>Оноосон үг бүрээ 1-5 хүртэлх оноогоор үнэлэх</li>
			<li>Энэ оноо нь таны өөртөө хэр итгэлтэй орчуулсан байгаагаа илтгэх хүчин зүйл болно</li>
		</ul>
	</div>

	<div class="col-md-4">
		<h3><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Засварлах</h3>
		<ul>
			<li>Оноогдсон синсетийн үгсээс синсетийг илэрхийлэхгүй үгийг хасах</li>
			<li>Хоёр ба түүнээс дээш нийлэмж үг байвал хэвшмэл хэллэг, эсвэл хэлц үг эсэхийг бөглөх, аль нь ч биш бол хасах</li>
			<li>Алдаатай бичигдсэн үгсийг шалгаад, олдвол зөв болгож бичих</li>
		</ul>
	</div>

	<div class="col-md-4">
		<h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Үнэлэх</h3>
		<ul>
			<li>Монгол хэлэнд орчуулагдсан синсетийн үгсийг эх синсеттэй харьцуулж үзэх</li>
			<li>Тухайн үг харьяа синсетийнхээ үгийг хэр тодорхой илэрхийлж байгааг дүгнэх</li>
			<li>Дүгнэлтээ 1-5 оноогоор буулгах</li>
		</ul>
	</div>
</div>
