<mat-card>
	<h1>{{ "domain.headline" | translate }}</h1>
</mat-card>

<nav mat-tab-nav-bar fxHide.lt-sm="true" fxShow>
	<a mat-tab-link *ngFor="let link of navLinks" [active]="link.isActive" (click)="updateLang( link.vid )">{{ link.lang | translate }}</a>
</nav>

<div style="text-align: center;" fxShow.lt-sm="true" fxHide><br>
	<button mat-raised-button [matMenuTriggerFor]="langMenu">
	    <mat-icon>language</mat-icon>
	</button>
	<br><br>
</div>

<mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let link of navLinks" (click)="updateLang( link.vid )">{{ link.lang | translate }}</button>
</mat-menu>

<div [style.display]="loadState ? 'block' : 'none'">
	<br>
	<mat-spinner [diameter]="60" style="margin: 0 auto;"></mat-spinner>
	<br>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	
	<mat-card [ngClass]="(domain.available == 0) ? 'domain-card inactive' : 'domain-card active' " *ngFor="let domain of placeholder" routerLink="{{ domain.globalId }}">
		<mat-card-header>
			<mat-icon svgIcon="thumbs-up"></mat-icon>
			<mat-card-title><h2>{{ domain.synset.lemma | excerpt:60:domain.synset.languageCode }}</h2></mat-card-title>
			<mat-card-subtitle *ngIf="domain.synset.gloss!='NO_GLOSS'">{{ domain.synset.gloss | excerpt:120:domain.synset.languageCode}}</mat-card-subtitle>
		</mat-card-header>
		<!-- <mat-card-content> 
			<p *ngIf="domain.synset.gloss!='NO_GLOSS'">{{ domain.synset.gloss | excerpt:120:domain.synset.languageCode}}</p>	
		</mat-card-content> -->
		<mat-card-actions *ngIf="domain.available!==0" align="end">
				<button mat-stroked-button color="primary" 
					matBadge="{{domain.available}}"
					matBadgePosition="above before" matBadgeSize="medium">
					{{ "nav.contribute" | translate }}
				</button>
		</mat-card-actions>
	</mat-card>
</div>