mat-card.domain-card {
	width: 11em;
	height: 9.5em;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.active {
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.inactive {
	background: rgba(215, 215, 215, 0.5);
	cursor: not-allowed;
}

mat-grid-tile {
	flex-wrap: wrap;
}
h1 {
	font-size: 1.6em;
	text-align: center;
	font-weight: 500;
}
h2 {
	font-size: 1.5em;
	font-weight: 500;
}
/deep/.mat-tab-link, /deep/.mat-tab-label-active{
 min-width: 100px !important;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 1.2em;
}