<mat-card>
	<h1>{{ "domain.headline" | translate }}</h1>
</mat-card>

<nav mat-tab-nav-bar fxHide.lt-sm="true" fxShow>
	<a mat-tab-link *ngFor="let link of navLinks" [active]="link.isActive" (click)="updateLang( link.vid )">{{ link.lang | translate }}</a>
</nav>

<div style="text-align: center;" fxShow.lt-sm="true" fxHide><br>
	<button mat-raised-button [matMenuTriggerFor]="langMenu">
	    <mat-icon>language</mat-icon>
	</button>
	<br><br>
</div>

<mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let link of navLinks" (click)="updateLang( link.vid )">{{ link.lang | translate }}</button>
</mat-menu>

<div [style.display]="loadState ? 'block' : 'none'">
	<br>
	<mat-spinner [diameter]="60" style="margin: 0 auto;"></mat-spinner>
	<br>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start stretch">
	<mat-card [ngClass]="(!domain.availableTrn && taskType == 1) || (!domain.availableMod && taskType == 2) || (!domain.availableVal && taskType == 3) ? 'domain-card inactive' : 'domain-card active' " *ngFor="let domain of placeholder" routerLink="{{ domain.globalId }}">
		<mat-card-header>
			<div mat-card-avatar>
				<button mat-mini-fab color="primary">
					<mat-icon>navigate_next</mat-icon>
				</button>
			</div>
				<mat-card-title><h2>{{ domain.synset.concept }}</h2></mat-card-title>
			<mat-card-subtitle>{{ domain.synset.lemma }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>{{ domain.synset.gloss }}</p>
		</mat-card-content>
	</mat-card>
</div>