mat-card.domain-card {
	width: 11em;
	height: 9.5em;
	margin-bottom: 5px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.domain-card:hover {
	background-color: rgba(233, 233, 233, 0.65);
}
mat-grid-tile {
	flex-wrap: wrap;
}
h1 {
	font-size: 1.6em;
	text-align: center;
	font-weight: 500;
}
h2 {
	font-size: 1.5em;
	font-weight: 500;
}
/deep/.mat-tab-link, /deep/.mat-tab-label-active{
 min-width: 100px !important;
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 1.2em;
}