<div class="container">
      <div class="col-sm-6">
            <div class="panel panel-default">
            <div class="panel-heading">Source synset info</div>
            <div class="panel-body">
            <div class="well">Synset words: "location", "geo-entity", "geographical entity", "geographic entity", "physical space"</div>
            <div class="well">Synset gloss: "any physical object that is in general conceived as a place and that has the spatial qualities like latitude, longitude, etc."</div>
            <div class="well">POS: Noun</div>
      </div></div>
      </div>
      <div class="col-sm-6">
            <div class="panel panel-default">
            <div class="panel-heading">Орчуулах</div>
            <div class="panel-body">
      <table>
            <form class="form">
            <tr>
              <div class="form-group">
                <td><input type="text" class="form-control" id="email" placeholder="Enter your translation"></td><td>&nbsp;&nbsp;</td>
                <td><input type="submit" class="btn btn-danger" value="Delete"></td>
            </div>
            </tr>

            <tr>
              <div class="form-group">
                <td><input type="text" class="form-control" id="email" placeholder="Enter your translation"></td><td>&nbsp;&nbsp;</td>
                <td><input type="submit" class="btn btn-danger" value="Delete"></td>
            </div>
            </tr>

            <tr>
              <div class="form-group">
                <td><input type="text" class="form-control" placeholder="Enter your translation" id="email"></td><td>&nbsp;&nbsp;</td>
                <td><input type="submit" class="btn btn-danger" value="Delete"></td>
            </div>
            </tr>

            <tr>
              <div class="form-group">
                <td><input type="text" class="form-control" placeholder="Enter your translation" id="email"></td><td>&nbsp;&nbsp;</td>
                <td><input type="submit" class="btn btn-primary" value="Add word"></td><td>&nbsp;&nbsp;</td>
                <td><input type="submit" class="btn btn-danger" value="Delete"></td>
            </div>
            </tr>


            </form>
      </table>
</div></div></div>
      </div>
